#                                    PYTHON for Professionals

# Python Data Types

In [1]:
# String data type
a_str = "hello"
print(a_str) #output will be whole string. Hello World
print(a_str[0]) #output will be first character. H
print(a_str[0:4]) #output will be first five characters. Hell

hello
h
hell

In [2]:
# Set Data Types
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket) # duplicates will be removed
a = set('abracadabra')
print(a) # unique letters in a
a.add('z')
print(a)

{'orange', 'apple', 'pear', 'banana'}
{'c', 'd', 'a', 'b', 'r'}
{'c', 'z', 'd', 'a', 'b', 'r'}

In [3]:
# Numbers data type
int_num = 10 #int value
float_num = 10.2 #float value
complex_num = 3.14j #complex value
long_num = "1234567L" #long value

In [4]:
# List Data Type
list = [123,'abcd',10.2,'d'] #can be an array of any data type or single data type.
list1 = ['hello','world']
print(list) #will output whole list. [123,'abcd',10.2,'d']
print(list[0:2]) #will output first two element of list. [123,'abcd']
print(list1 * 2) #will gave list1 two times. ['hello','world','hello','world']
print(list + list1) #will gave concatenation of both the lists.

[123, 'abcd', 10.2, 'd']
[123, 'abcd']
['hello', 'world', 'hello', 'world']
[123, 'abcd', 10.2, 'd', 'hello', 'world']

In [5]:
# Dictionary Data Type
dic={'name':'red','age':10}
print(dic) #will output all the key-value pairs. {'name':'red','age':10}
print(dic['name']) #will output only value with 'name' key. 'red'
print(dic.values()) #will output list of values in dic. ['red',10]
print(dic.keys()) #will output list of keys. ['name','age']

{'name': 'red', 'age': 10}
red
dict_values(['red', 10])
dict_keys(['name', 'age'])

In [6]:
# Tuple Data Type
tuple = (123,"hello",)
tuple1 = ("world",)
c = tuple + tuple1
print(tuple) #will output whole tuple. (123,'hello')
print(tuple[0]) #will output first value. (123)
print(c) #will output (123,'hello','world')
tuple[1]='update' #this will give you error as tuples are immutable

(123, 'hello')
123
(123, 'hello', 'world')

TypeError: 'tuple' object does not support item assignment